@import './variables.scss';
@import './mixins.scss';
body,html {
  font-family: $default-font;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.divider-1 {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $grey-1;
  // border: 1px solid $grey-1;
}
.heading-1 {
  @include heading-1;
}
.heading-2 {
  @include heading-2;
}
