@mixin border-black-2-10 {
  border: solid 2x black;
  border-radius: 10px;
}
@mixin dflex-align-center {
  display: flex;
  align-items: center;
}
@mixin dflex-align-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin diflex-align-justify-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@mixin dflex-align-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
